.footer {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: var(--slate);
  font-family: var(--font-mono);
  padding-bottom: 20px;
  font-size: 0.86rem;
}

.footer a {
  color: var(--green);
  white-space: nowrap;
}
.footer p {
  display: inline-block;
}
